.mesvinyls {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 20px 40px;
}

.action {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  img {
    padding:10px 0;
  }
}
