$large: 1200px;

.base {
  background-image: url('banner.jpg');
  width: 100vw;
  height: 26vh;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}

.index {
  margin-top: 30px;
  margin-left: 15px;
h2 {
  font-family: $body-font;
  margin-left: 12px;
}
}

.wrapper {
  overflow: hidden;
  display: grid;

  @media screen and (min-width: $large) {
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto;
  }
}

.gallery {
  scroll-behavior: smooth;
  display: flex;
  padding-bottom: 20px;

  @media screen and (min-width: $large) {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }
}

.gallery__card-carousel {
  scroll-snap-align: start;
  margin-bottom: 10px;
  object-fit: cover;

  @media screen and (min-width: $large) {
    min-width: auto;
    min-height: 40vh;
  }
}

.lil-nav {
  overflow-x: scroll;
  overflow-y: hidden;
  // display: flex;
  // grid-row-start: 2;
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox

  @media screen and (min-width: $large) {
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    grid-row-start: auto;
  }
}

.lil-nav::-webkit-scrollbar {
  display: none;
}

.lil-nav__card-carousel {
  object-fit: cover;
  filter: saturate(0);
  transition: 0.3s ease all;

  &:hover {
    transform: scale(1.05);
    filter: saturate(1);
  }
}
