<div>

  <div class="base">
    <div class="btn">
      <%= link_to "Recherche" %>
    </div>
  </div>

  <div class="index">

    <div>
      <h2>Mes vinyls</h2>
      <div class="wrapper">
      </div>
    </div>

    <div>
      <h2>Mes souhaits</h2>
        <div class="wrapper">
        </div>
    </div>

  </div>

</div>
