<div class="navbar">
  <%= link_to image_tag("house.svg"), indexprincipal_path, class: "bloc-icon #{'active' if current_page?(indexprincipal_path)}", id:"accueil"%>
  <%= link_to image_tag("plus.svg"), new_vinyl_path, class: "bloc-icon #{'active' if current_page?(new_vinyl_path)}", id:"plus"%>
  <%= link_to image_tag("favorite.svg"), favorites_path, class: "bloc-icon #{'active' if current_page?(favorites_path)}", id:"favorite"%>
</div>
