<div class="wrap">
  <div class="back">
  </div>

  <div class="titre">
    <h1><%= "My Vinyls" %> </h1>
  </div>

  <div class="btn-home">
    <%=link_to "Explorer", indexprincipal_path %>
  </div>
</div>


<%# A faire : API, afficher par derniers vynils, modifier photo, corrigier css, pagy %>
