<div class="wrap">
  <div class="back">
  </div>

  <div class="titre">
    <h1><%= "My Vinyls" %> </h1>
  </div>

  <%# <div class="btn-home">
    <%=link_to "Explorer", welcome_path %>
  <%# </div> %>


    <div class="connect">
      <%= link_to "S'inscrire", new_user_registration_path, :class => 'btn-home' %> ||
      <%= link_to "Se connecter", new_user_session_path, :class => 'btn-home' %>
    </div>
    <%# connection devise %>

</div>


<%# A faire : API, afficher par derniers vynils, modifier photo, corrigier css, pagy %>
