<div class="base">
</div>

<div class="eject">
  <%= link_to image_tag("deconnexion.svg"), destroy_user_session_path, class: "exit", method: :delete %>
  <%= "Se déconnecter" %>
</div>

<div class="elect">
  <%= link_to image_tag("edit.svg"), edit_user_registration_path %>
  <%= "Modifier" %>
</div>
