.btn {
  font-family: $body-font;
  background-color: $yellow;
  border-radius: 15px;
  display: block;
  padding: 8px 50px;
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 18px;
  a {
    text-decoration: none;
    color: $gray;
  }
}

.btn-noir {
  font-family: $body-font;
  background-color: $gray;
  color: $yellow;
  border-radius: 15px;
  display: block;
  padding: 10px 50px;
  margin: auto;
  margin-top: 10px;
  width: 80%;
  text-align: center;
  font-size: 18px;
}

.btn-home {
  font-family: $body-font;
  background-color: $yellow;
  border-radius: 15px;
  display: block;
  padding: 10px 50px;
  margin: auto;
  margin-top: 40px;
  width: 80%;
  text-align: center;
  font-size: 20px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  a {
    text-decoration: none;
    color: $gray;
  }
}

.search {
  font-family: $body-font;
  background-color: $yellow;
  border-radius: 15px;
  display: block;
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 5px 5px;
  width: 50%;
  text-align: center;
  font-size: 18px;
  a {
    text-decoration: none;
    color: $gray;
  }
}

.com {
  font-family: $body-font;
  background-color: $yellow;
  border-radius: 15px;
  display: block;
  padding: 8px 50px;
  margin: auto;
  width: 80%;
  text-align: center;
  font-size: 18px;
}
